.text-aguilas {
    color: #fbc71d !important;
}
.text-estrellas {
    color: #016438 !important;
}
.text-gigantes {
    color: #8e1c3f !important;
}
.text-leones {
    color: #d82a34 !important;
}
.text-tigres {
    color: #062f87 !important;
}
.text-toros {
    color: #fd4000 !important;
}