.text-acereros {
    color: #df242a !important
}
.text-algodoneros {
    color: #6b1a31 !important
}
.text-bravos {
    color: #1b3b47 !important
}
.text-caliente {
    color: #d62928 !important
}
.text-charros {
    color: #02529a !important
}
.text-conspiradores {
    color: #5b118b !important
}
.text-diablos-rojos {
    color: #db102d !important
}
.text-dorados {
    color: #621d82 !important
}
.text-el-aguila {
    color: #bf1021 !important
}
.text-generales {
    color: #056935 !important
}
.text-guerreros {
    color: #bcbec0 !important
}
.text-leones {
    color: #e66125 !important
}
.text-mariachis {
    color: #000000 !important
}
.text-olmecas {
    color: #006838 !important
}
.text-pericos {
    color: #00553d !important
}
.text-piratas {
    color: #e60008 !important
}
.text-rieleros {
    color: #f7c003 !important
}
.text-saraperos {
    color: #005d63 !important
}
.text-sultanes {
    color: #001740 !important
}
.text-tecolotes {
    color: #131445 !important
}
.text-tigres {
    color: #0f0e50 !important
}
.text-toros {
    color: #b22226 !important
}