.text-diamondbacks {
    color: #A6192E !important;
}
.text-athletics {
    color: #024638 !important;
}
.text-braves {
    color: #BA0C2F !important;
}
.text-orioles {
    color: #FC4C02 !important;
}
.text-red-sox {
    color: #C8102E !important;
}
.text-cubs {
    color: #002F6C !important;
}
.text-white-sox {
    color: #8D9093 !important;
}
.text-reds {
    color: #BA0C2F !important;
}
.text-guardians {
    color: #D50032 !important;
}
.text-rockies {
    color: #330072 !important;
}
.text-tigers {
    color: #FA4616 !important;
}
.text-astros {
    color: #CF4520 !important;
}
.text-royals {
    color: #0032A0 !important;
}
.text-angels {
    color: #862633 !important;
}
.text-dodgers {
    color: #002F6C !important;
}
.text-marlins {
    color: #00A3E0 !important;
}
.text-brewers {
    color: #13294B !important;
}
.text-twins {
    color: #BA0C2F !important;
}
.text-mets {
    color: #002D72 !important;
}
.text-yankees {
    color: #0C2340 !important;
}
.text-phillies {
    color: #6F263D !important;
}
.text-pirates {
    color: #FFC72C !important;
}
.text-padres {
    color: #3E342F !important;
}
.text-giants {
    color: #FA4616 !important;
}
.text-mariners {
    color: #00685E !important;
}
.text-cardinals {
    color: #BA0C2F !important;
}
.text-rays {
    color: #69B3E7 !important;
}
.text-rangers {
    color: #002D72 !important;
}
.text-blue-jays {
    color: #003DA5 !important;
}
.text-nationals {
    color: #BA0C2F !important;
}
.text-cleveland-indians {
    color: #D50032 !important;
}
.text-florida-marlins {
    color: #009CA6 !important;
}
.text-oakland-athletics {
    color: #024638 !important;
}