.text-hawks {
    color: #C8102E !important
}
.text-celtics {
    color: #007A33 !important
}
.text-nets {
    color: #707372 !important
}
.text-hornets {
    color: #00778B !important
}
.text-bulls {
    color: #BA0C2F !important
}
.text-cavaliers {
    color: #6F263D !important
}
.text-mavericks {
    color: #0050B5 !important
}
.text-nuggets {
    color: #FFC72C !important
}
.text-pistons {
    color: #1D4289 !important
}
.text-warriors {
    color: #1D4289 !important
}
.text-rockets {
    color: #BA0C2F !important
}
.text-pacers {
    color: #FFCD00 !important
}
.text-clippers {
    color: #C8102E !important
}
.text-lakers {
    color: #330072 !important
}
.text-grizzlies {
    color: #7D9CC0 !important
}
.text-heat {
    color: #862633 !important
}
.text-bucks {
    color: #2C5234 !important
}
.text-timberwolves {
    color: #236192 !important
}
.text-pelicans {
    color: #B9975B !important
}
.text-knicks {
    color: #FF8200 !important
}
.text-thunder {
    color: #F9423A !important
}
.text-magic {
    color: #0050B5 !important
}
.text-76ers {
    color: #1D4289 !important
}
.text-suns {
    color: #CB6015 !important
}
.text-trail-blazers {
    color: #C8102E !important
}
.text-kings {
    color: #582C83 !important
}
.text-spurs {
    color: #9EA2A2 !important
}
.text-raptors {
    color: #BA0C2F !important
}
.text-jazz {
    color: #330072 !important
}
.text-wizards {
    color: #C8102E !important
}
.text-bobcats {
    color: #E35205 !important
}
.text-new-orleans-hornets {
    color: #0082BA !important
}