.text-cardinals {
    color: #9B2743 !important
}
.text-falcons {
    color: #A6192E !important
}
.text-ravens {
    color: #24125F !important
}
.text-bills {
    color: #003087 !important
}
.text-panthers {
    color: #0085CA !important
}
.text-bears {
    color: #DC4405 !important
}
.text-bengals {
    color: #DC4405 !important
}
.text-browns {
    color: #EB3300 !important
}
.text-cowboys {
    color: #003087 !important
}
.text-broncos {
    color: #FC4C02 !important
}
.text-lions {
    color: #0069B1 !important
}
.text-packers {
    color: #183029 !important
}
.text-texans {
    color: #E4002B !important
}
.text-colts {
    color: #003A70 !important
}
.text-jaguars {
    color: #006271 !important
}
.text-chiefs {
    color: #C8102E !important
}
.text-raiders {
    color: #A7A8A9 !important
}
.text-chargers {
    color: #0072CE !important
}
.text-rams {
    color: #1E22AA !important
}
.text-dolphins {
    color: #008C95 !important
}
.text-vikings {
    color: #582C83 !important
}
.text-patriots {
    color: #C8102E !important
}
.text-giants {
    color: #001E62 !important
}
.text-jets {
    color: #115740 !important
}
.text-eagles {
    color: #004851 !important
}
.text-steelers {
    color: #FFB81C !important
}
.text-49ers {
    color: #A6192E !important
}
.text-seahawks {
    color: #78BE21 !important
}
.text-buccaneers {
    color: #A6192E !important
}
.text-titans {
    color: #418FDE !important
}
.text-commanders {
    color: #651C32 !important
}
.text-washington-redskins {
    color: #651C32 !important
}
.text-washington-football-team {
    color: #651C32 !important
}
.text-san-diego-chargers {
    color: #0072CE !important
}
.text-st-louis-rams {
    color: #C6AA76 !important
}
.text-st-louis-rams {
    color: #A2AAAD !important
}