.text-australia {
    color: #024638 !important
}
.text-brazil {
    color: #0032A0 !important
}
.text-canada {
    color: #DA291C !important
}
.text-chinese-taipei {
    color: #C8102E !important
}
.text-colombia {
    color: #FDD26E !important
}
.text-cuba {
    color: #003087 !important
}
.text-czechia {
    color: #202A44 !important
}
.text-dominican-republic {
    color: #001871 !important
}
.text-great-britain {
    color: #C8102E !important
}
.text-israel {
    color: #003087 !important
}
.text-italy {
    color: #009739 !important
}
.text-japan {
    color: #C8102E !important
}
.text-korea {
    color: #041E42 !important
}
.text-mexico {
    color: #006845 !important
}
.text-netherlands {
    color: #FE5000 !important
}
.text-nicaragua {
    color: #449ED6 !important
}
.text-panama {
    color: #E4002B !important
}
.text-puerto-rico {
    color: #002D72 !important
}
.text-usa {
    color: #0C2340 !important
}
.text-venezuela {
    color: #7C2629 !important
}